.default__button-icon{
    background: var(--background-color-button);
    color: var(--color-text-button);
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

